<h1>About</h1>
<div class="about"
<p>Just an app developed by a bored mmi student</p>
</div>
    <!-- Text View -->
    <div class="row">
        <div class="col-md-12 text-center"><h3>Find me</h3></div>
        <div class="col-md-4">
            <div class="product-div2">
                <img src="http://fr.lutece.paris.fr/fr/image?resource_type=wiki_image&id=8" class="img-responsive transition">
                <div class="text-view transition">
                    <h4>Follow me on GitHub</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-div2">
                <img src="http://www.strategico.fr/wp-content/uploads/sites/2/2017/09/strategico-LinkedIn_Logo.png" class="img-responsive transition">
                <div class="text-view transition">
                    <h4>Find me on LinkedIn</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product-div2">
                <img src="https://cdn-images-1.medium.com/max/1600/1*fIjRtO5P8zc3pjs0E5hYkw.png" class="img-responsive transition">
                <div class="text-view transition">
                    <h4>Check my Heroku</h4>
                </div>
            </div>
        </div>
    </div>
</div>