<h1>Welcome to MMI Catch Phrases !</h1>
<p>A catch phrase is a short cool/funny phrase that someone says for a certain occasion. A catch phrase is usually unique to a certain person. You can't steal someone else's catch phrase because that's not cool. You gotta make up your own.</p>
<br>

<p>Check out all the catch phrases <a href="/disquettes" class="Disquetteslink">here</a></p>

   