/* body {
	background-image:linear-gradient(to right, #E6E7F0, #00BCBF);
}
*/
/*.navbar-header {
	background-color: #E6E7F0;
	background-image:linear-gradient(to right, #E6E7F0, #00BCBF);
}*/

/* .navbar  {
	background-color: blue;
}
*/

/*nav.navbar.navbar-inverse.navbar-fixed-top{
	background-color: blue;
}
*/